@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", sans-serif;
  color: #686868;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.89; }

.container {
  display: grid;
  grid-template-rows: min-content 90vh 100vh repeat(8, min-content);
  grid-template-columns: [start-space] 1fr [start-space-end center-start] repeat(10, minmax(min-content, 1fr)) [center-end end-space-start] 1fr [end-space-end]; }

.navigation {
  grid-column: 1/-1;
  font-size: 2.2rem;
  color: #808080;
  list-style: none;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal; }
  .navigation .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .navigation .nav_list {
      padding: 3rem; }
      .navigation .nav_list-img {
        width: 12rem; }
      .navigation .nav_list_call {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        grid-column-gap: 1rem;
        transform: translateY(-1.5rem);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #363636; }
        .navigation .nav_list_call-phone {
          font-size: 2.4rem;
          grid-column: 2/-1;
          display: flex;
          flex-direction: column; }

.active {
  color: #363636; }

.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, minmax(min-content, 1fr));
  font-size: 1.8rem; }
  .header_lists {
    grid-row: 5/-1;
    align-items: center;
    text-align: right;
    list-style: none;
    padding: 1rem; }
  .header_intro {
    grid-row: 1/4;
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    z-index: 100;
    color: #ffffff;
    font-size: 8.2rem;
    font-weight: bold; }
    .header_intro span {
      display: block;
      margin-bottom: -1rem; }
  .header_slider {
    grid-row: 1/6;
    grid-column: 2/-1; }
    .header_slider img {
      width: 100%;
      height: 100%; }
  .header_box {
    grid-row: 5/7;
    grid-column: 2/7; }

.aboutRudra {
  grid-row: 3/span 1;
  grid-column: 3/12;
  line-height: 1.22;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(9, 1fr); }
  .aboutRudra_left-know {
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: 3.2rem;
    font-weight: bold;
    color: #272727;
    transform: translateX(-1rem); }
  .aboutRudra .heading-2 {
    grid-row: 2/4;
    grid-column: 1/4;
    font-size: 6rem;
    font-weight: bold;
    color: #272727;
    display: block; }
  .aboutRudra .para {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.89;
    color: #686868; }
  .aboutRudra .para-1 {
    grid-row: 4/7;
    grid-column: 1/5; }
  .aboutRudra .para-2 {
    grid-row: 7/8;
    grid-column: 1/5; }
  .aboutRudra .btn {
    margin-top: 2rem;
    grid-row: 8/10;
    align-self: center;
    grid-column: 1/4; }
  .aboutRudra_right {
    grid-column: 5/10; }

.aboutBir {
  grid-column: 1/-1; }

.courses {
  grid-column: 1/-1; }

.team {
  grid-column: 1/-1; }

.reach {
  grid-column: 1/-1; }

.blogs {
  grid-column: 1/-1; }

.travellers {
  grid-column: 1/-1; }

.contact {
  grid-column: 1/-1; }

.footer {
  grid-column: 1/-1; }

.popupBox {
  width: 80%;
  height: 50%;
  position: relative;
  top: 30%;
  left: 8%;
  background: #ffffff;
  box-shadow: 1rem 1rem 7rem rgba(0, 0, 0, 0.2); }

.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center; }
  .form__group {
    align-self: center; }
  .form__input {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 0.1rem solid #686868;
    width: 50%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .4s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.button {
  font-size: 2.2rem;
  line-height: 1.23;
  width: 27.9rem;
  height: 8.5rem;
  outline: none;
  border: 1px solid #3bb4c4;
  text-decoration: none;
  background-color: #ffffff;
  margin-top: 12rem;
  color: #3bb4c4; }
