.button{
    font-size: 2.2rem;
    line-height: 1.23;
    display: block;
    outline: none;
    border: 1px solid $color-primary;
    text-decoration: none;
    padding: 1.4rem 2rem;
    // height: 7.5rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $color-white;
    
    @include respond(tab-port){
        font-size: 1.6rem;
        width: 17.9rem;
    }

    span{
        display: block;
        // margin: auto;
    }

    &--white{
        color: $color-primary;
        // font-weight: 600;

        &:hover{
            color: white;
            background: $color-primary;
        }
    }

    &--blue{
        background-color: $color-primary;
        color:white;

        &:hover{
            color: $color-primary;
            background: white;
        }
    }

    @include respond(sd-screen){
        width: 18rem;
        height: 5.5rem;
        font-size: 1.5rem;
        letter-spacing: -0.05rem;
        padding: 0;
    }

    // &--center{
    //     margin: auto;
    // }
}

.margin-12{
    margin-top: 12rem !important;
}