.button{
    font-size: 2.2rem;
    line-height: 1.23;
    display: block;
    outline: none;
    border: 1px solid $color-primary;
    text-decoration: none;
    height: 7.5rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $color-white;
    
    @include respond(tab-port){
        font-size: 1.6rem;
        width: 17.9rem;
    }

    span{
        display: block;
        // margin: auto;
    }

    &--white{
        color: $color-primary;
    }

    &--blue{
        background-color: $color-primary;
        color:white;
    }

    @include respond(sd-screen){
        width: 20rem;
        height: 6rem;
        font-size: 1.8rem;
    }

    // &--center{
    //     margin: auto;
    // }
}

.margin-12{
    margin-top: 12rem !important;
}