.member {
    border: 1px solid $color-primary;
    width: 29rem;
    height: 30rem;
    position: relative;
    max-width: 100%;
    object-fit: contain;

    &-1 {
            //align-self: flex-end;
            //justify-self: right;
            position: relative;
            width: 100%;
            max-width: 100%;
    }
}