.popupBox{
    width: 80%;
    height: 15rem;
    position: relative;
    top: 30%;
    left: 8%;
    background: $color-white;
    box-shadow: 1rem 1rem 7rem rgba(0, 0, 0, 0.2);
    padding: 0rem 4.5rem;

    @include respond(phone){
        .center{
            width: auto;
        }

        padding: 1rem;
    }

    
    @include respond(sd-screen){
        height: 9.1rem;
        transform: translateY(-10rem);
        width: 71%;
    }
    
    @include respond(tab-port){
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include respond(phone){
        width: 90%;
        height: auto;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input[type=number] {
        width: 16rem;
        height: 7rem;
        min-width: 42px;
        min-height: 52px;
        text-align: left;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        text-align: center;
        color: $color-dark-1;
        font-size: 2rem;

        @include respond(sd-screen){
            font-size: 1.6rem;
            height: 5rem;

        }
    }

    &-con{

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(sd-screen){
            line-height: 1.5;
        }

        &__header{
            font-size: 2.5rem;
            font-weight: 700;
            color: $color-dark-3;
            
            @include respond(sd-screen){
                transform: translate(2rem);
            }

            @include respond(phone){
                transform: translate(0);
            }
        }
    
        &__desc{
            font-size: 2rem;

            
            @include respond(sd-screen){
                margin-left: 2rem;
                font-weight: 600;
                font-size: 1.8rem;
            }
            
            @include respond(phone){
                margin: 0;
                display: none;
            }
        }
    }
}