.popupBox{
    width: 80%;
    height: 15rem;
    position: relative;
    top: 30%;
    left: 8%;
    background: $color-white;
    box-shadow: 1rem 1rem 7rem rgba(0, 0, 0, 0.2);

    @include respond(tab-port){
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include respond(sd-screen){
        height: 9.1rem;
        transform: translateY(-10rem);
        width: 71%;
    }

    @include respond(phone){
        width: 100%;
        height: auto;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        box-shadow: none;
    }

    input[type=number] {
        width: 16rem;
        height: 7rem;
        min-width: 42px;
        min-height: 52px;
        text-align: left;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        text-align: center;
        color: $color-dark-1;
        font-size: 2rem;

        @include respond(sd-screen){
            font-size: 1.6rem;
            height: 5rem;

        }
    }

    &-con{

        display: flex;
        flex-direction: column;
        justify-content: center;

        &__header{
            font-size: 2.5rem;
            font-weight: 700;
            color: $color-dark-3;
        }
    
        &__desc{
            font-size: 2rem;
        }
    }
}