// ------------
// CLEARFIXES
// ------------
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// -------------
// BASIC STYLES
// -------------

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% --> 1rem = 10px
    
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-2;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 1.89;
    overflow-x: hidden;
}

.container{
    display: grid;
    grid-template-rows: min-content repeat(10, min-content);
    grid-template-columns: minmax(min-content, 1fr) [start-space] minmax(min-content, 1fr) [start-space-end center-start] 
    repeat(10, minmax(min-content, 1fr)) [center-end end-space-start] 
    .5fr [end-space-end] 2fr;
    grid-row-gap: 5rem;

    @include respond(sd-screen){
        grid-template-rows: min-content 70rem repeat(9, min-content);
    }
}