.contact{
    grid-column: 1/-1;
    position:relative;
    	.contact-info{

    		    .img-container{
    		    height:400px;
    		    position:relative;
	    	width: 330px;
	    	display:inline-block;
	      border:1px solid $color-primary;
	      	margin-left:100px;
	      	.img-popup{
	      		position:absolute;	
	      		bottom:0;
	      		right:0;
	      		background-color:white;
	      		padding :10px;
	      		transform:translateY(10px) translateX(20px);
         	    box-shadow: rgba(0, 0, 0, 0.1) 1rem 1rem 7rem;


	      	}
	      img{
	      	margin-left:15px;
		    height:375px;
	    	transform:translateY(-10px) scaleY(1.1);
	      }
	    }
    	
    }
    .booking-popup{
    	transform: translateY(5rem);
    	position:absolute;
	    width: 80%;
	    position: relative;
	    top: 30%;
	    left: 8%;
	    box-shadow: rgba(0, 0, 0, 0.1) 1rem 1rem 7rem;
	    background: rgb(255, 255, 255);
	    padding:30px;
	    padding-left:60px;
	    button{
	    	margin-left:80px;
	    	margin-bottom:10px;
	    	position:absolute;
	    	top:47px;
		    transform: translateY(-10px);
	    	}
	    
	    p{  
	    	display:inline-block;
	    	width:70%;
	    	font-size:26px;
	    	color:$color-grey-4;
	    	font-weight:600;
	    }
	    .popup-heading{
	    	font-size:32px;
	    	font-weight:bold;
	    	color:$color-dark-3;

	    }
	  }


}