#hotels{
    margin-top: -12rem;
}

.img-svg-courses-1{
    grid-column: 1/2;
    grid-row: 10/11;
    transform: translate(7rem,-8rem);

    @include respond(sd-screen){
    transform: translate(12rem,0);    
    }

    .svg-1{
        background: url('../../img/Rectangle\ 184.svg');
        background-size: 125%;
        background-position: center;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
    }
}

.img-svg-courses-2{
    grid-column: 1/2;
    grid-row: 10/11;
    transform: translate(10rem,5rem);

    .svg-2{
        background: url('../../img/Rectangle\ 186.svg');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
    }
}

.img-svg-coursess-3{
    grid-column: 12/13;
    grid-row: 10/11;
    transform: translate(20rem, -10rem);

    
    .svg-3{
        background: url('../../img/Rectangle\ 184.svg');
        background-size: 125%;
        background-position: center;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
    }
}

.courses--card {
    @include respond(sd-screen){
        transform: translate(0, -3rem);
    }
}

.card-width{
    width: 30%;
}

.img-svg-coursess-4{
    grid-column: 12/13;
    grid-row: 10/11 ;
    justify-self: right;
    align-self: flex-start;
    transform: translate(0rem, 6rem);

    .svg-4{
        background: url('../../img/Rectangle\ 186.svg');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
    }
}

.heading-courses-1 {
    @include respond(sd-screen){
        transform: translate(-5rem, 0);
        font-size: 2.2rem;  
    }

}

.heading-courses-2 {
    @include respond(sd-screen){
        transform: translate(2.2rem, -3rem);  
    }
}

.courses{
    
    //padding-top: 10rem;
    padding: 0rem 10.5rem 0 10.5rem;
    grid-column: 1/15;
    display: grid;
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-gap: 10rem;

    @include respond(sd-screen){
        grid-gap: 2rem;       
    }

    .courseSlider{
        grid-column: 1/-1;
        grid-row: 3/-1;
        display: flex;
        justify-content: space-between;

        .slick-track{
            top: 2rem !important;
        }

        .slick-prev::before, .slick-next::before{
            color: black;
        }
    }

    .img-svg-courses-1{
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        justify-items: right;
        align-items: flex-start;

        @include respond(sd-screen){
        transform: translate(-15rem,0);
        }

        .svg-1{
            background: url('../../img/Rectangle\ 184.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-size: 125%;
            background-position: 2rem -5rem;
            width: 20rem;
            height: 20rem;
            transform: translate(-7rem, 7rem);
        }
    }

    .heading-hotel{
        transform: translate(-10rem, -1rem);
    }

    &_desc{
        grid-column: 3/4;
        grid-row: 1/3;
        display: grid;
        align-items: center;
        align-content: space-around;
    }

    .desc-courses-1 {
        @include respond(sd-screen){
            transform: translate(1.3rem, -5.5rem);
            line-height: 1.3 !important;
        }

    }

    &_card-1{
        grid-column: 1/2;
        grid-row: 3/6;
    }

    &_card-2{
        grid-column: 2/3;
        grid-row: 3/6;
    }

    &_card-3{
        grid-column: 3/4;
        grid-row: 3/6;
    }
}

.desc{
    display: grid;
    align-items: center;
    align-content: space-around;
    @include respond(sd-screen){
        line-height: 1.2;
    }
}

.desc-hotel{
    display: grid;
    align-items: center;
    align-content: space-evenly;
    transform: translateY(10rem);
    @include respond(sd-screen){
        line-height: 1.2;
    }
}

.team--desc{
    display: grid;
    align-items: center;
    align-content: space-around;

    @include respond(sd-screen){
        align-content: center;
    }
}

.blogs-back{
    grid-row: 8/9;
    grid-column: 1/-1;
    width: 100%;
    height: 50%;
    align-self: flex-end;
}

.img-svg-courses-3{
    grid-column: 12/13;
    grid-row: 6/7;
    display: grid;
    justify-items: right;
    align-items: flex-end;
    // position: relative;
    transform: translate(4rem, -54rem);

  
    .svg-3{
        background: url('../../img/Rectangle\ 186.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 125%;
        background-position: 2rem -5rem;
        width: 18rem;
        height: 18rem;

        .svg-13{
            background: url('../../img/Rectangle\ 184.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-size: 125%;
            // background-position: 2rem -5rem;
            width: 20rem;
            height: 20rem;
            //transform: translate(-0.5rem, -8rem);

            @include respond(sd-screen){
                transform: translate(20rem, -10rem) !important;
            }
        }
    }
}