.footer{
    grid-column: 1/-1;
    background-color:#b2b1b10a;
    height:30rem;
    font-size:1.7rem;
    font-wieght:bolder;
  	p{
	    font-wieght:900;	
  		color:black;
  	}

}
	.list{
	list-style:none;
	a{
	text-decoration:none;
	color:$color-grey-3;
	}

	}
	.footer-part{
	margin: 0 4rem;
	display:inline-block;
	list-style: none;	}
  .color-bar{
	width: 3rem;
    height: 0.3rem;
    background:$color-primary;
    display: block;
    margin: 0.4rem 0;    
    }
    footer__part-2{	
    width:80vw;
    margin:auto;
    border-top: 1px solid black;
    }