.footer{
    grid-column: 1/-1;
    background-color:#b2b1b10a;
    height:30rem;
    font-size:2rem;
	font-weight:700;
	
	@include respond(sd-screen){
		padding: 0 5rem 0 5rem;
		font-size: 1.6rem;
	}
	
	p{
	    font-weight:bold;
	    font-size:22px;	
		  color:#292929;
		  
		  @include respond(sd-screen){
			font-size: inherit;
		  }
  	}
  	a{
	text-decoration:none;
	color:$color-grey-1;
	font-weight:600;
	display:block;
	}
	.list{
	list-style:none;
	

	li{
		margin: 1.7rem 0;
	}
	}
	.footer-part-rudra{
		display:inline-block;
		list-style: none;
		padding-bottom:10rem;
		margin: 0 3rem;
		display:inline-block;
		list-style: none;

		@include respond(sd-screen){
			margin: 0;
		}

	}
	.footer__part-1{
			display:flex;
			justify-content:space-between;
			    padding-top: 25rem;
			    padding-bottom:10rem;
				padding-right:10rem;
				
				
				@include respond(sd-screen){
					padding-top: 10rem;
					padding-right: 5.5rem;
					padding-left: 1rem;
				}
			    .footer-contact-us{

			     .info{
					color: $color-dark-1;
			     	font-size:20px;
					 font-weight:600;
					 
					 @include respond(sd-screen){
						font-size: inherit;
					}
			     }
			    }		
		}
	.footer-rudra{
	  margin-left:60px;		
	  width: 258px;
	  height: 108px;
	  object-fit: contain;
	  font-family: Montserrat;
	  font-size: 36px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.23;
	  letter-spacing: normal;
	  text-align: left;
	  color: #3bb4c4;

	  @include respond(sd-screen){
		margin-left: 4rem;
		font-size: 3rem;
	  }
	}
	.color-bar{
	width: 3.7rem;
    height: 0.3rem;
    background:$color-primary;
    display: block;
	margin: 0.4rem 0;
	margin-bottom: 2.5rem;
    }
    .footer__part-2{
		padding: 3rem 0;
		padding-left: 5rem;
	    width:90vw;
	    margin:auto;
		border-top: 1.5px solid $color-grey-3;
		
		@include respond(sd-screen){
			// margin-left: .5rem;
			padding-left: 0;
			width: 86vw;
		}

		.color-bar{
			width: 3rem;
		    height: 0.3rem;
		    background:$color-primary;
		    display: block;
		    margin: 0.4rem 0;    
		}
		span{
			display: inline-block;
		}
	    
	     p{
		    	color:$color-grey-1;
		    	font-size:20px;
				font-weight: 600;
				
				@include respond(sd-screen){
					font-size: 1.5rem;
				}
		    }


	    

	    .footer2-container{
    	 font-size:1.7rem;
    	 display:flex;
			justify-content:space-between;
			.copyrigths{
				width: 21rem;
			}
     .logos{
     	img{
		 margin-right:30px;
		 
		 @include respond(sd-screen){
			width: 2.8rem;
			margin: 0rem 1rem;
		 }
     	}

    }
    .location{

    	p{
    	    	 color:$color-footer;
    	    	 font-size:20px;

    	}
    }
    }
    }
    
   
}
	
	
  