.navigation{
    grid-column: 1/-1;
    font-size: 2.2rem;
    color: $color-grey-1;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;

    @include respond(sd-screen){
        font-size: 1.6rem;
    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .rudra-logo-header{
            color: $color-primary;
            transform: translateY(-1rem);

            display: flex;


            img{
                width: 4rem;
            }
        }
        
        &_list{
            grid-column: 1/-1;
            padding: 2rem;
            padding-bottom: 1rem;
            cursor: pointer;
            font-weight: 600;

            &-img{
                width: 6rem;
            }
            &:hover{
                color: black;
            }

            &_call{
                display: grid;
                grid-template-rows: repeat(2, min-content);
                grid-template-columns: repeat(2, max-content);
                grid-column-gap: 1.6rem;
                align-items: center;
                grid-column-gap: 2rem;
                transform: translateY(-1rem);
                font-weight: bold;
                font-style: normal;                  
                font-stretch: normal;                  
                line-height: 1.21;                  
                letter-spacing: normal;
                text-align: left;
                color: $color-dark-2;

                &-phone{
                    font-size: 2.4rem;
                    grid-column: 2/-1;
                    display: flex;
                    flex-direction: column;

                    @include respond(sd-screen){
                        font-size: 1.6rem;
                    }
                }

                
            }
        }
    }
}
// .active{
//     color: $color-dark-2;
// }